body {
  background-color: lightgray;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 5px;
}

h2 {
  color: purple;
  text-align: center;
}

table {
  margin: 0 auto;
  border: 2px solid purple;
  width: 650px;
}

th {
  background-color: violet;
}

td {
  border-top: 1px solid purple;
}

code {
  background-color: beige;
}